<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carte de chaleur </title>
    <meta name="description" content="Ce site vous présente des analyses sur la clientèle du serveur yeti">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_carte.css') }}">
    <link href="https://fons.googleeapis.com/css?family=Major+Mono+Display" rel="stylesheet">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
  </head>

  <body>
    <div id="entete">
      <h1>Carte de chaleur</h1>
    </div>
    <div id="contenu">
      <div id="barre_g">
      </div>
      <div id="description">
        <h2>Description</h2>
        <br>Cette carte de chaleur est faite par densité de point</br>
      </div>
      <div id="séparateur">
      </div>
      <div id="error">
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/leaflet-head.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/java.js') }}" charset="utf-8"></script>
  </body>
</html>
